.section {
  padding-top: 90px;
}

.section > h2 {
  font-size: 80px;
  line-height: 94px;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.section > p {
  font-family: Inter;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .section > h2 {
    font-size: 15vw;
  }

  .section > p {
    font-size: 18px;
  }
}

.roadmap {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  list-style: none;
  padding: 50px 0 0 0;
  margin: 0;
  align-items: center;
}

@media only screen and (min-width: 1230px) {
  .roadmap {
    padding: 0;
    flex-direction: row;
    transform: translateY(33.333vh);
    padding-bottom: 50vh;
  }
}

.roadmap > li {
  flex-grow: 1;
  width: 100%;
}

.roadmap > li > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (min-width: 1230px) {
  .roadmap > li > div {
    transform: translateY(50%) translateY(-95px);
  }

  .roadmap > li:nth-child(even) > div {
    transform: translateY(-50%) translateY(95px);
  }

  .roadmap > li + li {
    margin-left: -2px;
  }
}

.roadmap > li > div > * {
  flex-basis: 0;
}

.roadmap > li > div > h3 {
  font-size: 54px;
  text-align: center;
  padding: 0 0 40px 0;
  margin: 0;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .roadmap > li > div > h3 {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 1230px) {
  .roadmap > li + li > div > h3::before {
    display: block;
    content: url(../../assets/png/sparkle.png);
    position: absolute;
    line-height: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translate(1px) translateY(50%);
  }

  .roadmap > li:nth-child(even) > div > h3::before {
    top: 0;
    bottom: unset;
    transform: translateX(-50%) translate(1px) translateY(-50%);
  }

  .roadmap > li:nth-child(even) > div > h3 {
    order: 1;
    padding: 40px 0 0 0;
  }
}

.roadmap > li > div > div {
  border: 2px solid #1abff3;
  padding: 60px 50px 120px 50px;
  border-radius: 0 0 50vw 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap > li > div > div > ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 1230px) {
  .roadmap > li:nth-child(even) > div > div {
    padding: 120px 50px 60px 50px;
    border-radius: 50vw 50vw 0 0;
  }
}

.roadmap > li > div > div > ul > li {
  flex-direction: row;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  padding-left: 22px;
}

.roadmap > li > div > div > ul > li::before {
  display: block;
  flex-shrink: 0;
  content: '';
  background-color: #1abff3;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  line-height: 0;
  position: absolute;
  left: 0;
  top: 4px;
}

.roadmap > li > div > div > ul > li + li {
  margin-top: 20px;
}
