.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  max-width: 600px;
  margin: -30px auto 0 auto;
  left: 0;
  right: 0;
}

.widget {
  border-radius: 50px;
  overflow: hidden;
  width: 100%;
  margin-top: -70px;
}

.title {
  background: linear-gradient(155deg, #adcb37, #089da7);
  font-family: 'Baloo Bhai 2';
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  padding: 20px 50px 10px 50px;
  color: white;
  text-transform: uppercase;
}

.title > small {
  display: block;
  color: #fbff27;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 1;
}

.body {
  background: rgba(217, 217, 217, 0.6);
  padding: 50px 40px 35px 40px;
  font-family: 'Baloo Bhai 2';
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body > ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  border-left: 1px solid #291f14;
}

.body > ul > li {
  display: flex;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 0;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  padding: 2px 30px;
  border-right: 1px solid #291f14;
}

.body > ul > li > small {
  display: block;
  color: #b76229;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.body > ul > li > span {
  color: #281606;
  font-size: 48px;
  font-weight: 700;
  line-height: 25px;
}

.body > h2 {
  color: #281606;
  font-size: 25px;
  font-weight: 700;
  margin: 35px 0 0 0;
  text-transform: capitalize;
}

.body > h3 {
  color: #0045ce;
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0 0 0;
}

.button {
  background: linear-gradient(180deg, #8c00ce -52.31%, #6f0e71 129%);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
  margin: 30px 0 0 0;
  white-space: nowrap;
}
