.section {
  background: url(../../assets/jpg/home.jpg) no-repeat center center;
  background-size: cover;
  min-height: 1280px;
  padding-top: 200px;
  position: relative;
}

.title {
  display: block;
  margin: 0 auto;
}
