.container {
  width: 1600px;
  margin: 0 auto;
}

@media only screen and (max-width: 1730px) {
  .container {
    width: 1440px;
  }
}

@media only screen and (max-width: 1540px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (max-width: 1230px) {
  .container {
    width: 830px;
  }
}

@media only screen and (max-width: 930px) {
  .container {
    width: 530px;
  }
}

@media only screen and (max-width: 630px) {
  .container {
    width: 100%;
  }
}
